<a href="https://colab.research.google.com/github/Brudeoli17/Projeto-Marcus/blob/main/Analise_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Data/Rotas.csv', low_memory=False, sep=';', encoding='UTF-8')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head(5)

In [ ]:
df.groupby("Ano.Exec").size()

Ano.Exec
19           2
20           1
2019         7
2020         9
2021    119973
21           2
????         2
dtype: int64

In [ ]:
df.groupby("Mes.Base").size()

Mes.Base
11         2
4          2
5          1
Abr     9022
Ago    10295
Dez     3905
Fev     9205
Jan    10494
Jul     9064
Jun     9688
Mai     9937
Mar    10125
Nov    12899
Out    13260
Set    12101
dtype: int64

In [ ]:
df.groupby("CO.Fabrica").size()

CO.Fabrica
3403208    39786
3423909    39828
3424402    40373
????           4
dtype: int64

In [ ]:
df.groupby("CO.Cliente").size()

In [ ]:
#Inconsistencias_na_moeda
df.groupby("Moeda").size()

Moeda
???         3
BR          2
BRL    119992
dtype: int64

In [ ]:

df.query('`CO.Fabrica` == "2303"').groupby('Qtd.Transp').size()

Series([], dtype: int64)

In [ ]:
#Analise_das_datas_de_faturamento_e_entrega
df['Result'] = df ['Dt.Fat'] .sub (df ['Dt.Entrega'])
print(df[['Dt.Fat', 'Dt.Entrega', 'Result']])

        Dt.Fat  Dt.Entrega  Result
0        44200       44209      -9
1        44210       44218      -8
2        44211       44210       1
3        44211       44216      -5
4        44212       44219      -7
...        ...         ...     ...
119995   44537       44540      -3
119996   44537       44542      -5
119997   44536       44546     -10
119998   44545       44545       0
119999   44544       44546      -2

[120000 rows x 3 columns]