<a href="https://colab.research.google.com/github/Brudeoli17/Projeto-LogInova-Consultoria/blob/main/COG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/Planilhas/Cluster.xlsx')

In [ ]:
total_demand_Qtd_Transp = data['Qtd.Transp'].sum()

In [ ]:
print(data)

   ID  Cluster  Qtd.Transp        LAT       LONG
0   0        1    17258200 -23.150430 -45.778035
1   1        2     5341000 -22.731910 -47.454605
2   2        3    38613600 -23.558516 -46.713095
3   3        4     4948400 -21.170440 -47.785087
4   4        5     3500000 -22.314190 -49.062805
5   5        6    18557600 -23.061994 -47.167170
6   6        7     2272000 -22.035607 -47.876790

In [ ]:
print(data.dtypes)

ID              int64
Cluster         int64
Qtd.Transp      int64
LAT           float64
LONG          float64
dtype: object

In [ ]:
columns_to_convert = ['LAT', 'LONG', 'Qtd.Transp']
for col in columns_to_convert:
    data[col] = data[col].astype(float)

print(data.dtypes)

ID               int64
Cluster          int64
Qtd.Transp     float64
LAT            float64
LONG           float64
coordinates     object
x_weighted      object
y_weighted      object
dtype: object

In [ ]:
data['coordinates'] = data.apply(lambda row: (row['LAT'], row['LONG']), axis=1)

In [ ]:
print(data)

   ID  Cluster  Qtd.Transp   LAT  LONG     coordinates x_weighted y_weighted
0   0        1  17258200.0 -23.0 -45.0  (-23.0, -45.0)         []         []
1   1        2   5341000.0 -22.0 -47.0  (-22.0, -47.0)         []         []
2   2        3  38613600.0 -23.0 -46.0  (-23.0, -46.0)         []         []
3   3        4   4948400.0 -21.0 -47.0  (-21.0, -47.0)         []         []
4   4        5   3500000.0 -22.0 -49.0  (-22.0, -49.0)         []         []
5   5        6  18557600.0 -23.0 -47.0  (-23.0, -47.0)         []         []
6   6        7   2272000.0 -22.0 -47.0  (-22.0, -47.0)         []         []

In [ ]:
data['x_weighted'] = data.apply(lambda row: row['Qtd.Transp'] * row['coordinates'][0], axis=1)
x_cog = data['x_weighted'].sum() / total_demand_Qtd_Transp

In [ ]:
data['y_weighted'] = data.apply(lambda row: row['Qtd.Transp'] * row['coordinates'][1], axis=1)
y_cog = data['y_weighted'].sum() / total_demand_Qtd_Transp

In [ ]:
print('the center of gravity is located at: {},{}'.format(x_cog, y_cog))

the center of gravity is located at: -22.767823911381047,-46.26920747744522